{
  "printWidth": 160,
  "htmlWhitespaceSensitivity": "ignore",
  "proseWrap": "preserve",
  "singleQuote": true,
  "semi": false,
  "vueIndentScriptAndStyle": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid"
}