@use '../../shared/index' as *;

.primary {
  color: $primary;
}
.main-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .content-box {
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    h4 {
      color: $black-900;
      padding: 0 0 16px 0;
      margin: 0 0 24px 0;
      border-bottom: 1px solid $black-500;
    }
    .name-box {
      display: flex;
      align-items: center;
      gap: 24px;
      margin: 0 0 12px 0;
      .input-group {
        margin: 0;
      }
    }
    .remind-box {
      display: flex;
      gap: 16px;
      margin: 0 0 40px 0;
      .label-remind {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 63px;
        height: 40px;
        border-radius: 30px;
        @extend .body2;
        color: $primary;
        background-color: $secondary;
      }
      p {
        @extend .body2;
      }
    }
    .setting-box {
      .setting-box-title {
        margin: 0 0 24px 0;
      }
      .setting-box-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin: 0 0 24px 0;
        .setting-item {
          display: flex;
          flex-direction: column;
          gap: 8px;
          .preview-box {
            display: flex;
            gap: 24px;
            .preview-item {
              position: relative;
              &:hover .preview-content {
                display: block;
                transition: opacity 0.3s;
              }
              > img {
                margin: 0 4px 0 0;
                width: 24px;
              }
              > a {
                @extend .caption;
                text-decoration: none;
              }
              .preview-content {
                box-shadow: 2px 4px 12px 0px #00000040;
                font-size: 14px;
                position: absolute;
                bottom: 100%;
                left: 0;
                z-index: 10;
                display: none;
                margin: 0 0 6px 0;
              }
              .preview-content-line {
                width: 270px;
                border-radius: 6px;
                background-color: #ffffff;
                line-height: 1.25;
                .top {
                  background-color: #0ABF4C;
                  color: #ffffff;
                  font-size: 16px;
                  font-weight: 600;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  padding: 0 12px;
                  border-radius: 6px 6px 0 0;
                  height: 36px;
                  img {
                    height: 20px;
                  }
                }
                .content {
                  background-color: #ffffff;
                  padding: 4px 12px 12px 12px;
                  color: #3B3B3B;
                  .title-box {
                    border-bottom: 1px solid #DBDBDB;
                    padding: 8px 8px 12px 8px;
                    .content-title {
                      font-weight: 600;
                      font-size: 18px;
                      margin: 0 0 6px 0;
                    }
                  }
                  .list-box {
                    padding: 12px 8px;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    border-radius: 0;
                    border: none;
                    margin: 0;
                    .list-item {
                      display: flex;
                      gap: 14px;
                      p {
                        &:first-child {
                          color: #C1C1C1;
                          flex-shrink: 0;
                        }
                      }
                    }
                  }
                  .btn-box {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 0 8px;
                    .btn {
                      color: #000000;
                      background-color: #EFEFEF;
                      height: 40px;
                      width: 100%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      border-radius: 6px;
                    }
                  }
                }
                .bottom {
                  padding: 6px 10px;
                  background-color: #EFEFEF;
                  color: #C1C1C1;
                  font-size: 10px;
                  border-radius: 6px;
                  letter-spacing: -0.4px;
                }
              }
              .preview-content-sms {
                background-color: #E6E5EB;
                padding: 8px;
                border-radius: 8px;
                width: 250px;
                line-height: 1.25;
                word-break: break-all;
                .sms-link {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
    .switch-box {
      display: flex;
      flex-direction: column;
      gap: 8px;
      > div {
        display: flex;
        align-items: center;
        gap: 16px;
      }
    }
  }
}