@use './typographys' as *;
@use './variables' as *;
@use '../mixins/mixins' as *;

body {
  @extend .body2;
  color: $black-900;
  overflow: hidden;
}

a {
  color: $primary;
  text-decoration: underline;
  cursor: pointer;
}

img {
  max-inline-size: 100%;
  height: auto;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.modal {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1001;
  text-align: center;
  flex: 1;
  max-width: 400px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1;
    flex-grow: 1;
    .title {
      @extend h4;
      margin-bottom: 10px;
    }
  }
  &-foot {
    margin: 0 auto;
  }
  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 半透明背景 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
}

textarea {
  @extend .body2;
  @include placeholderColor($placeholder-color);
}
