$font-family-sans: 'Noto Sans TC', sans-serif;
$font-size: 14px;

$primary: #fc6300;
$primary-variant: #ffb17e;
$secondary: #fef4e9;
$black-core: #000000;
$black-900: #2d2d2d;
$black-700: #6f6f6f;
$black-600: #909090;
$black-500: #cccccc;
$black-400: #ececec;
$black-300: #f2f2f2;
$black-100: #f9f9f9;
$grey: #b0b0b0;
$accent-1: #e2e86b;
$accent-2: #b3dee5;

$warning: #fef4e9;

$success: #28A745;
$wrong: #FF0033;

$top-bar-height: 55px;
$content-wrapper-padding: 16px;
$notify-height: 40px;

$placeholder-color: #909090;