@keyframes shake-delay {
  0%, 20%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(0);
  }
}
@keyframes sidebar-slide-in {
  0% {
    transform: translateX(-240px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes sidebar-slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-240px);
  }
}