* {
  letter-spacing: 0.16em;
  color: $black-900;
}
.main-box {
  margin: 36px 64px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  width: 640px;
  @media (max-width: 768px) {
    width: 100%;
    max-width: 640px;
  }
  .hint-box {
    display: flex;
    p {
      align-self: center;
      margin: 0 0 0 16px;
      color: $black-900;
      letter-spacing: 0.16em;
      span {
        color: $primary;
      }
    }
  }
  :deep(.btn-secondary) {
    white-space: nowrap;
    border-radius: 24px;
    padding: 8px 16px;
  }
  :deep(.btn-primary-variant) {
    background-color: transparent;
    color: $black-900;
  }
  :deep(.btn-md) {
    width: 196px;
    height: 40px;
  }

  .month-picker {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 178px;
    height: 40px;
    text-align: center;
    background-color: $secondary;
    color: $primary;
    font-weight: 500;
    white-space: nowrap;
    border-radius: 24px;
    box-shadow: 0px 3px 4px 0 rgba(255, 177, 126, 0.5);

    .currentMonth-btn {
      background: none;
      border: none;
      color: inherit;
      cursor: pointer;
      padding: 0;
      font: inherit;
      text-align: center;
    }
    :deep(.btn-secondary) {
      background: transparent;
      padding: 0 10px;
    }
    .arrow-icon {
      min-width: 24px;
      min-height: 24px;
      width: 24px;
      height: 24px;
    }

    span {
      font-size: 14px;
      font-weight: 500;
      line-height: 19.6px;
      letter-spacing: 2.56px;
    }
  }

  .date-grid {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(7, 1fr);
    gap: 16px;

    .day-header {
      margin: 0 auto;
      text-align: center;
      font-weight: 500;
      padding: 8px 0;
      font-size: 14px;
      width: 64px;
      height: 40px;
      margin: 0 0 16px 0;
      &:nth-child(1),
      &:nth-child(7) {
        color: $primary;
      }
    }
    :deep(.btn) {
      width: 64px;
      height: 40px;
      padding: 0;
      margin: 0 auto 16px auto;
    }

    :deep(.btn:disabled) {
      background-color: transparent;
      color: $black-500;
      cursor: not-allowed;
      border: none;
    }

    .date-button {
      width: 100%;
      aspect-ratio: 1 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      padding: 0;
    }
  }
  .button-box {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    .date-hint-box {
      display: grid;
      grid-template-columns: 1fr 1fr;
      //   gap: 16px;
      .date-hint-item {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: $black-900;
        .dot {
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          margin-right: 6px;
          &.dot-set {
            background: $primary;
          }
          &.dot-past {
            background: $primary-variant;
          }
          &.dot-disabled {
            background: $black-500;
          }
        }
      }
    }
  }

  // 月份選擇彈窗
  .month-picker-popup {
    position: absolute;
    z-index: 2;
    left: 53%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 16px;
    margin: 0 auto;
    border-radius: 12px;
    background: white;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    .year-box {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      height: 48px;
      line-height: 34px;
      text-align: center;
      overflow: hidden;
      margin: 0 8px;
      button {
        display: flex;
        align-self: center;
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;
        padding: 0;
        font: inherit;
        text-align: center;
        // border: 1px solid red;
        img {
          width: 24px;
          height: 24px;
        }
      }
      span {
        color: $black-900;
        font-weight: 500;
        text-align: center;
        align-content: center;
      }
    }
    .month-grid {
      display: grid;
      grid-template-columns: 56px 56px 56px 56px;
      gap: 8px;
      width: 100%;
      button {
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;
        padding: 0;
        font: inherit;
        text-align: center;
        border-radius: 4px;
        height: 32px;
        &:hover {
          background-color: #fef4e9;
        }
      }
      .active {
        background-color: #fc6300;
        color: white;
        &:hover {
          background-color: #fc6300;
          color: white;
        }
      }
    }
  }
}
// 三天內禁止點擊
.date-grid .noClick {
  color: $black-500;
  cursor: not-allowed;
  // pointer-events: none;
}

:deep(.btn-check) {
  color: white !important;
}
// 警告彈窗
.content-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  padding: 0 48px;
  margin: 10px 0 0 0;
  font-size: 16px;
  p {
    font-weight: 400;
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
  }
}
// 非當月日期文字灰色
.date-grid .gray-text {
  color: #cccccc;
}

.selected-view-only {
  background-color: $primary-variant !important;
  color: white;
  pointer-events: none;
}
