@use '../../shared/index' as *;
.button-box {
  display: flex;
  justify-content: flex-end;
  margin: 0px 40px 0 40px;
  padding: 16px 0 0 0;
}

:deep(.input-wrap) {
  margin: 0 40px;
}

:deep(.input-group) {
  margin: 0 0 24px 0;
}

:deep(.tax-box) {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 40px 24px 40px;
  .tax-label {
    font-size: 14px;
    margin: 0 0 16px 0;
    color: $black-900;
  }
  .tax-value {
    padding: 10px;
    width: 100%;
    font-size: 14px;
    color: $black-900;
    border-radius: 8px;
    background-color: $black-300;
    border: 1px solid $black-500;
  }
}

.composible-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  margin: 0 40px;
  :deep(.input-wrap) {
    margin: 0 0px;
  }
}
