@use '../shared/index' as *;

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 240px;
  animation: sidebar-slide-out .3s;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  box-shadow: 2px 4px 12px rgba(#000, 0.25);
  height: 100dvh;
  overflow-y: auto;
  @include custom-scrollbar;
  &.expanded {
    animation: sidebar-slide-in .3s;
  }
  &-head {
    display: flex;
    padding: 24px;
    border-bottom: 1px solid #ccc;
    .brand {
      margin: 0;
      padding: 0;
      line-height: 0;
      img {
        max-inline-size: 100%;
        height: 50px;
      }
    }
  }
  &-nav {
    display: flex;
    flex-direction: column;
    padding: 24px;
    flex-grow: 1;
  }
  .user-info {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    &:hover, &:focus {
      background-color: $secondary;
      transition: background-color .3s;
    }
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .user-details {
      flex-grow: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      .title {
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .small {
        color: $black-900;
      }
    }
    .icon-right {
      justify-items: flex-end;
      width: 24px;
      height: 24px;
    }
  }
  .nav {
    margin-top: 15px;
    &-item {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    &-link {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 8px;
      gap: 8px;
      border-radius: 8px;
      text-decoration: none;
      margin: 2px 0;
      @extend .body2;
      color: $black-900;
      .nav-icon {
        width: 24px;
        height: 24px;
        display: inline-block;
      }
      .icon-down {
        transition: transform .3s;
        transform: rotate(0deg);
        &.active {
          transform: rotate(180deg);
        }
      }
      &:hover, &:focus, &.active {
        background-color: $secondary;
        transition: background-color .3s;
        color: $black-900;
      }
      &.hasChild {
        &:hover, &:focus {
          background: none;
        }
      }
    }
  }
  &-footer {
    border-top: 1px solid #ccc;
    background: #fff;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    .nav-link {
      display: flex;
      align-items: center;
      padding: 8px;
      gap: 8px;
      text-decoration: none;
      @extend .body2;
      color: $black-900;
    }
  }
  .sub-nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &-link {
      display: flex;
      align-items: center;
      padding: 8px 0;
      padding-left: 32px;
      gap: 8px;
      border-radius: 8px;
      text-decoration: none;
      @extend .body2;
      color: $black-900;
      &:hover, &:focus {
        background-color: $secondary;
        transition: background-color .3s;
      }
    }
  }
  .dropdown, .vue-select {
    .control {
      .value-container {
        display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-wrap: nowrap;
      }
      .single-value {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &.open {
      .single-value {
        position: relative;
      }
    }
  }
}
@media (max-height: 700px) {
  .sidebar-head, .sidebar-nav {
    padding: 20px 24px;
  }
  .sidebar-footer {
    padding: 15px 24px;
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(black, 0.25);
  z-index: 99;
}