@use '../../shared/index' as *;

.register {
  &-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $primary-variant;
    z-index: 0;
    padding: 0 40px;
  }
  &-box {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(#000 , 0.25);
    padding: 40px;
    max-width: 944px;
  }
  &-content {
    flex: 1;
    gap: 40px;
    display: flex;
    flex-direction: column;
    .head {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 8px;
    }
    .content-box {
      display: flex;
      flex-direction: column;
      gap: 40px;
      flex: 1;
    }
    .step-box {
      display: flex;
    }
    .step {
      display: flex;
      align-items: center;
      flex: 1;
      gap: 24px;
      &-data {
        flex: 1;
        max-height: 100%;
        display: flex;
        flex-direction: column;
      }
    }
    .hero {
      display: none;
      @include responsive('md2', 'min') {
        display: flex;
        flex: 1;
        max-height: 360px;
        border-radius: 8px;
        overflow: hidden;
        flex-shrink: 1;
        .image {
          object-fit: cover;
          width: 100%;
          height: 302px;
        }
      }
      @include responsive('xs', 'min', 'portrait') {
        display: none;
      }
    }
  }
}
.submit-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.inputForm {
  display: flex;
  gap: 24px;
  > div {
    flex: 1;
  }
}
.custom-dropdown {
  flex: 1
}
.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  > div {
    margin-top: 15px;
    flex: 0 1 calc(100% / 3);
    &:last-child {
      flex-grow: 1;
    }
  }
}
.required {
  color: red;
}
.error-message {
  color: red;
  margin-top: 5px;
  font-size: 12px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 14px;
  &:focus {
    outline: none;
    border-color: $primary;
  }
}
.button-group {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex: 1;
}
.margin-top-16 {
  margin-top: 16px;
}